

#scroll{
    border: solid;
}
body{
    background-color:white;
    color:black;
}

.logy{
    background-color:rgb(23, 22, 22);
    color:rgb(240, 240, 240);
}

#scroll-cont{
    width: 500px;
    height: 500px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    background-color: aqua;
    overflow-x: scroll;
    scrollbar-width: none;
}

#scroll-cont > div{
    width:500px;
    height:500px;
    background-color: bisque;
}